ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tab-list li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
#tabs #mainView {
    border: 1px solid black;
	clear: both;
	padding: 0 1em;
}
.tab-list .active {
    background-color: #FFF;
    color: #000;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding:4px;
} 